<!-- Toggle Button -->
<div class="toggle-container">
  <button
    class="toggle-btn"
    (click)="toggleSideNav()"
    aria-label="Toggle Side Navigation"
  >
    <i class="bi bi-list"></i>
  </button>
</div>

<nav class="side-nav" [class.closed]="!isNavOpen">
  <h1 class="title">ClinicPoint</h1>
  <p class="username" *ngIf="username">Welcome, {{ username }}!</p>

  <div class="horizontal-line"></div>

  <!-- Navigation Links -->
  <ul class="nav-links">
    <li>
      <a routerLink="/appointments" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <i class="bi bi-calendar-check"></i> Appointments
      </a>
    </li>
    <li>
      <a routerLink="/billing" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <i class="bi bi-credit-card"></i> Billing
      </a>
    </li>
    <li>
      <a routerLink="/insurance" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <i class="bi bi-file-earmark-medical"></i> Insurance
      </a>
    </li>
    <li>
      <a routerLink="/profile" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <i class="bi bi-person-circle"></i> Profile
      </a>
    </li>
  </ul>

  <ul class="logout">
    <li>
      <a (click)="logout()">
        <i class="bi bi-box-arrow-right"></i> Logout
      </a>
    </li>
  </ul>
</nav>

<div class="content" [class.full-width]="!isNavOpen">
  <router-outlet></router-outlet>
</div>
