<head>
  <!-- Bootstrap Icons Link -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css" rel="stylesheet">
  <!-- Add custom stylesheet -->
</head>

<body>
  <!-- Side Navigation -->
  <nav class="side-nav">
    <h1 class="title">ClinicPoint</h1>

    <div class="horizontal-line"></div>

    <ul class="nav-links">
      <li>
        <a routerLink="/analytics" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="bi bi-bar-chart"></i> Analytics
        </a>
      </li>
      <li>
        <a routerLink="/appointments" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="bi bi-calendar-check"></i> Appointments
        </a>
      </li>
      <li>
        <a routerLink="/patient" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="bi bi-people"></i> Patients
        </a>
      </li>
    </ul>

    <ul class="logout">
      <li>
        <a (click)="logout()">
          <i class="bi bi-box-arrow-right"></i> Logout
        </a>
      </li>
    </ul>
  </nav>

  <!-- Main Content Area -->
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</body>
