<div class="register-container">
    <div class="register-content">
      <h2>Create Your Account</h2>
      <form (ngSubmit)="onSubmit()">
        <div class="input-group">
          <label for="firstName" class="label">First Name</label>
          <input
            type="text"
            id="firstName"
            [(ngModel)]="firstName"
            name="firstName"
            placeholder="Enter First Name"
            class="input-field"
            required
          />
        </div>
  
        <div class="input-group">
          <label for="lastName" class="label">Last Name</label>
          <input
            type="text"
            id="lastName"
            [(ngModel)]="lastName"
            name="lastName"
            placeholder="Enter Last Name"
            class="input-field"
            required
          />
        </div>
  
        <div class="input-group">
          <label for="dob" class="label">Date of Birth</label>
          <input
            type="date"
            id="dob"
            [(ngModel)]="dob"
            name="dob"
            class="input-field"
            required
          />
        </div>
  
        <div class="input-group">
          <label for="contactNo" class="label">Contact Number</label>
          <input
            type="tel"
            id="contactNo"
            [(ngModel)]="contactNo"
            name="contactNo"
            placeholder="Enter Contact Number"
            class="input-field"
            pattern="^\d{10}$"
            required
          />
        </div>
  
        <button type="submit" class="submit-button">Register</button>
      </form>
  
      <!-- Already have an account link -->
      <p class="login-link">
        Already have an account? <button (click)="goToLogin()">Login</button>
      </p>
    </div>
  </div>
  