<div class="desktop-patient-login-register">
  <img class="rectangle-8" src="rectangle-80.svg" />
  <img class="clinic-1" src="src\assets\clinic 1.png" />
  <div class="rectangle-3"></div>
  <div class="username">Username</div>
  <div class="rectangle-4-svg"></div>
  <div class="password">Password</div>
  <div class="don-t-have-an-account">Don’t have an account?</div>
  <div class="sign-up-button">Sign Up</div>
  <div class="patient-management-and-clinic-appointment-system">
    Patient Management and
    <br />
    Clinic Appointment System
  </div>
  <img class="rectangle-9-button" src="rectangle-9-button0.svg" />
  <div class="sign-in">Sign In</div>
</div>
