<nav class="side-nav">
    <div class="logo-container">
      <img src="assets/clinic 1.png" alt="Clinic Logo" />
      <h1 class="title">ClinicPoint</h1>
    </div>
  
    <div class="horizontal-line"></div>
  
    <ul class="nav-links">
      <li>
        <a routerLink="/admin/appointments" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <img src="assets/appointment.png" alt="Appointments Icon" />
          Appointments
        </a>
      </li>
      <li>
        <a routerLink="/admin/analytics" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <img src="assets/dashboard.png" alt="Appointments Icon" />
         Analytics
        </a>
      </li>
      <li>
        <a routerLink="/admin/patient" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <img src="assets/user.png" alt="Profile Icon" />
          Patient
        </a>
      </li>
    </ul>
    <ul class="logout">
      <li>
        <a (click)="logout()">
          <img src="assets/logout.png" alt="Logout Icon" />
          Logout
        </a>
      </li>
    </ul>
  </nav>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  