<div class="analytics-container">
  <div class="chart-container">
    <h2><i class="bi bi-bar-chart-line"></i> Appointments Breakdown</h2>
    <canvas id="appointmentsChart"></canvas>
  </div>

  <div class="chart-container">
    <h2><i class="bi bi-bar-chart-line"></i> Insurance Claims Stats</h2>
    <canvas id="insuranceChart"></canvas>
  </div>

  <div class="chart-container">
    <h2><i class="bi bi-bar-chart-line"></i> Billing Stats</h2>
    <canvas id="otherStatsChart"></canvas>
  </div>
</div>
